<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="style.css">
    <title>Vue-双向数据绑定</title>
</head>

<body>
    <!-- vue-app是根容器 -->
    <div id="vue-app">
        <h1> 双向数据绑定 / input / select / textarea</h1>
        <label>姓名:</label>
        <input ref="name" type="text" v-model="name">
        <span>{{name}}</span>
        <label>年龄:</label>
        <!-- <input ref="age" type="text" v-on:keyup="logAge"> -->
        <!-- 链式修饰符 -->
        <input ref="age" type="text" v-model="age">
        <span>{{age}}</span>
    </div>
    <!-- {{ name }} 不可用-->
    <script src="app.js"></script>
</body>

</html>